@{
    ViewBag.Title = "Home Page";
    var message = System.Configuration.ConfigurationManager.AppSettings["message"];
}

<div class="jumbotron">
    <div>staging!!!</div>
    <h1>
        @message
    </h1>
</div>

